@import "import";

@import "logo";

.col-cover {
  position: relative;
  height: 50vh;
  &::before {
    @include beforeafter('', block);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: brightness(0.9);
    z-index: 1;
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.col-text {
  padding: 40px 60px 60px;
  h1 {
    font-size: 1.75rem;
    font-weight: bold;
  }
  h4 {
    line-height: 1.25;
    .display-1 {
      font-size: calc((100vw - 120px) / 7);
      @include media-breakpoint-up(md) {
        font-size: calc((50vw - 120px) / 6.5);
      }
      @include media-breakpoint-up(xl) {
        font-size: calc((50vw - 120px) / 7);
      }
    }
    .display-2 {
      font-size: calc((100vw - 120px) / 14);
      @include media-breakpoint-up(md) {
        font-size: calc((50vw - 120px) / 13);
      }
      @include media-breakpoint-up(xl) {
        font-size: calc((50vw - 120px) / 14);
      }
    }
  }
  p {
    font-size: calc((100vw - 120px) / 50);
    @include media-breakpoint-up(md) {
      font-size: calc((50vw - 120px) / 40);
    }
    @include media-breakpoint-up(xl) {
      font-size: calc((50vw - 120px) / 50);
    }
  }
}

ul {
  @include listreset();
  a {
    padding: 10px;
    display: block;
    color: $black;
    border: 1px solid currentColor;
    border-radius: 50%;
    &:hover {
      color: $primary;
    }
    i {
      display: block;
    }
  }
}
